<div class="measure">
	{{#if chord}}
		<div class="chord">{{chord}}</div> {{! FIXME: Probably doesn't belong here}}
	{{/if}}
	<!-- <div class="measure-lower"></div> -->
	<div class="line-spacing">
		<div id="line1" class="line"></div>
	</div>
	<div class="line-spacing">
		<div id="line2" class="line"></div>
	</div>
	<div class="line-spacing">
		<div id="line3" class="line"></div>
	</div>
	<!-- <img src="../../images/svg/qNote.svg" class="note"> -->
	<!-- <div class="measure-lower"></div> -->
</div>