{{#eachModel staves}}
	<div>{{instrument}}</div>
	<ul>
		<li><b>Measures</b></li>
		{{#each measures}}
			{{#eachModel this}} {{!FIXME: measures is now an array of Collections so it cant be directly iterated over}}
				<li><b>Measure {{@index}}</b></li>
				{{#eachModel notes}}
					<li>pitch: {{pitch}}, type: {{type}}, duration: {{duration}}</li>
				{{/eachModel}}
			{{/eachModel}}
		{{/each}}
	</ul>
{{/eachModel}}
